.logo {
    width: 50px;
    height: 50px;
    background-image: url('../images/logo.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}
.cus-bars {
    border: 1px solid;
    width: 68px;
    height: 39px;
    color: #0d6efd;
    line-height: 39px;
    margin: -3px 0px 0px -14px;
    border-radius: 6px;
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    right: 85px;
    top: 17px;
}
.cus-bars:hover {
    color: white;
    background-color: #0d6efd;
    border: 1px solid #0d6efd;
}
 body {
    background: linear-gradient(rgba(42, 159, 161, 0.8), rgba(84, 106, 134, 0.8)),url('../images/image.webp');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
 }
.cus-btn {
    position: absolute;
    z-index: 1;
    top: 15px;
    right: 80px;
}
.cus-btn1 {
    color: #8b3dff;
    border: 1px solid #8b3dff;
    margin: 0px 90px 5px ;
    width: 200px;
}
.cus-btn1:hover {
    color: white;
    background-color: #8b3dff;
}
.cus-btn2 {
    width: 200px;
    margin: 0px 90px 30px;
}
.cush
{
    /* height: 620px !important; */
    transition-duration: 200ms;
}

.cush:hover
{
    height: 300px;
    position: relative;
    top: -40px;
    box-sizing: border-box;
    transform:scale(1.1,1.1);
    transition-duration: 200ms;
}
.cus-card {
    width: 100%;
    box-sizing: border-box;
    overflow-x: scroll;
    box-shadow: 1px 1px 20px black;
    z-index: 1;
    box-sizing: border-box;
    margin-top: 40px;
}
.cus-card1{
    display: flex;
}
.cus-card1>h1 {
    position: absolute;
    left: 20px;
    margin-top: 5px;
}
.cus-card1>h2 {
    position: absolute;
    right: 10px;
    margin-top: -4px;
    font-size: 50px;
}
.cus-card2 {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    margin-top: 50px;
}
.cus-card2>.card {
    flex: 1;
}
