* {
    margin: 0 auto;
    padding: 0;
}
body {
    background: linear-gradient(rgba(42, 159, 161, 0.9), rgba(84, 106, 134, 0.9)),url('../images/image.webp');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover; 
}
ul input,button {
    padding: 5px;
    margin: 5px;
}
.cus-list {
    /* border: 1px solid red; */
    width: 500px;
    height: 300px;
    text-align: center;
    list-style-type: none;
    box-shadow: 0px 0px 100px 30px rgb(115, 108, 108);
    margin-top: 30px;
    margin-bottom: 30px;
    background: linear-gradient(rgba(42, 159, 161, 0.8), rgba(84, 106, 134, 0.8)),url('../images/image.webp');
    background-size: cover;
    z-index: 1;
}
input {
    width: 300px;
    border-radius: 4px;
    background-color: lightgray;
}
.cus1 {
    margin-top: 55px;
}
button {
    width: 110px;
    border-radius: 3px;
    border: 1px solid transparent;
    margin-top: 45px;
}
button:first-child:hover {
    color: white;
    background-color: #0d6efd;
    border: 1px solid #0d6efd;
}
button:last-child:hover {
    color: white;
    background-color: #8b3dff;
}
table {
    
    background-color: white;
}